.movieList-container{
    vertical-align:middle;
    color:#fff;
    width: 100%;
    margin: 0 !important;
}

.moviepro-list {
    text-align: center;
    margin: auto;
}

.moviepro-listItem{
	display: flex;
	align-items: center;
}

.moviepro-listItem a span {
	display:inline;
    display:inline-table;
    display:inline-block;
    vertical-align:middle;
}

.slick-list{
	display:inline-block !important;
    width:80%;
}


.slick-list a span h3{
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:#fff;
    font-size:1.4em;
    text-align:center;
}

.slick-next, .slick-prev{
    position:relative;
    bottom:80px;
    padding: 1.6em 1em;
    margin: 0 20px;
    bottom: 130px;
}

.slick-next:hover , 
.slick-prev:hover {
    background-color: #a6150d;
    color: #fff;
}

.moviepro-listItem {
    width:200px;
    height:200px;
    padding: 1em;
}

@media only screen and (max-width: 768px){
    .slick-list{
        width: 56% !important;
    }

    .slick-next, .slick-prev{
        margin: 0;
    }
}

@media all and (min-width: 1400px){
	.slick-list{
        width: 68% !important;
    }
}